# Files
.gitignore          export-ignore
.gitattributes      export-ignore

.pylintrc           export-ignore
.python-version     export-ignore

*.toml              export-ignore
*.lock              export-ignore

Pipfile             export-ignore
requirements.txt    export-ignore

pytest.ini          export-ignore

.coverage*          export-ignore
coverage*           export-ignore

README.html         export-ignore
CHANGELOG.md        export-ignore


# Directories
.github             export-ignore
.githooks           export-ignore
.vscode             export-ignore
images              export-ignore
scripts             export-ignore
tests               export-ignore

# Source files
*                   text=auto
*.py                text diff=python